@{
    ViewData["title"] ="Personal";
}
<h1>Jimmy Rivas</h1>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Educacion
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dataTargetPersonalized" aria-expanded="false" aria-controls="collapseExample">
    button with data-target  
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
  <div class="collapse" id="dataTargetPersonalized">
  <div class="card card-body">
   Personalized
  </div>
</div>